.formAdmin {
    border: 1px solid black;
    text-align: center;
    label{
        display: block;
        padding: 1rem;
    }
    input{
        padding: 0.5rem;
        display: block;
        margin: 0 auto ;
        width: 30%;
    }
    .btnAgregarProducto{
        margin: 1rem;
    }
}
.Items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 600px;
    overflow-y: auto;
    border: 1px solid gray;

    .boxEditarItem {
        width: 200px;
        background-color: white;
        padding: 15px;
        border-radius: 5px;
        margin: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;

        img {
            max-width: 150px;
            width: 150px;
            height: 150px;
            text-align: center;
        }

        .nombreItem {
            margin: 0.5rem;


            font-weight: bolder;

        }

        .btns {
            margin: 1rem;

            .btnEditarItem,
            .btnEliminarItem {
                display: block;
                margin: 0.7rem auto;
                top: 0;
            }

            .btnEliminarItem {
                background-color: rgb(163, 14, 14);
            }
        }


    }
}